<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SS14L</string>
	<key>CFBundleDisplayName</key>
	<string>Space Station 14 Launcher</string>
	<key>CFBundleExecutable</key>
	<string>SS14</string>
	<key>CFBundleIconFile</key>
	<string>ss14</string>
	<key>CFBundleIdentifier</key>
	<string>com.spacestation14.launcher</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.spacestation14.launcher</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ss14</string>
				<string>ss14s</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtreplay</string>
				<string>rtbundle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ss14.icns</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeName</key>
			<string>Robust Toolbox Bundle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
